.social-icons {
	padding: 0!important;
	margin: 0!important;
	list-style-type: none!important;
}
.social-icons li {
	float: left!important;
	margin-right: 27px!important;
	margin-bottom: 10px!important;
	padding: 0px!important;
	display: inline!important;
	width: auto!important;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.social-icons li a {
	-moz-transition: all 0.3s ease 0s;
	display: block!important;
	float: left!important;
	height: 100%!important;
	margin: 0!important;
	padding: 0!important;
	width: 40px!important;
	height: 40px!important;
	text-indent: -9999px!important;
}
.social-icons li a:hover {
	background-position: 0 -40px!important;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border:1px solid #eee;
}
.social-icons li a {
	background-color: transparent;
}
.social-icons li.aim a {
	background: url(icons/aim.png) no-repeat 0 0;
}
.social-icons li.aim a:hover {
	background-color: #e95a00;
}
.social-icons li.apple a {
	background: url(icons/apple.png) no-repeat 0 0;
}
.social-icons li.apple a:hover {
	background-color: #606060;
}
.social-icons li.behance a {
	background: url(icons/behance.png) no-repeat 0 0;
}
.social-icons li.behance a:hover {
	background-color: #18a3fe;
}
.social-icons li.blogger a {
	background: url(icons/blogger.png) no-repeat 0 0;
}
.social-icons li.blogger a:hover {
	background-color: #fb913f;
}
.social-icons li.cargo a {
	background: url(icons/cargo.png) no-repeat 0 0;
}
. .social-icons li.delicious a {
 background: url(icons/delicious.png) no-repeat 0 0;
}
.social-icons li.facebook a {
	background: url(icons/facebook.png) no-repeat 0 0;
}
.social-icons li.facebook a:hover {
	background-color: #3b5998;
}
.social-icons li.flickr a {
	background: url(icons/flickr.png) no-repeat 0 0;
}
.social-icons li.flickr a:hover {
	background-color: #f1628b;
}
.social-icons li.google a {
	background: url(icons/google.png) no-repeat 0 0;
}
.social-icons li.google a:hover {
	background-color: #dd4b39;
}
.social-icons li.googleplus a {
	background: url(icons/googleplus.png) no-repeat 0 0;
}
.social-icons li.googleplus a:hover {
	background-color: #d94a39;
}
.social-icons li.html5 a {
	background: url(icons/html5.png) no-repeat 0 0;
}
.social-icons li.html5 a:hover {
	background-color: #f3642c;
}
.social-icons li.linkedin a {
	background: url(icons/linkedin.png) no-repeat 0 0;
}
.social-icons li.linkedin a:hover {
	background-color: #71b2d0;
}
.social-icons li.orkut a {
	background: url(icons/orkut.png) no-repeat 0 0;
}
.social-icons li.orkut a:hover {
	background-color: #ed2590;
}
.social-icons li.paypal a {
	background: url(icons/paypal.png) no-repeat 0 0;
}
.social-icons li.paypal a:hover {
	background-color: #32689a;
}
.social-icons li.picasa a {
	background: url(icons/picasa.png) no-repeat 0 0;
}
.social-icons li.picasa a:hover {
	background-color: #444;
}
.social-icons li.pinterest a {
	background: url(icons/pinterest.png) no-repeat 0 0;
}
.social-icons li.pinterest a:hover {
	background-color: #cb2027;
}
.social-icons li.rss a {
	background: url(icons/rss.png) no-repeat 0 0;
}
.social-icons li.rss a:hover {
	background-color: #fe9900;
}
.social-icons li.skype a {
	background: url(icons/skype.png) no-repeat 0 0;
}
.social-icons li.skype a:hover {
	background-color: #18b7f1;
}
.social-icons li.tumblr a {
	background: url(icons/tumblr.png) no-repeat 0 0;
}
.social-icons li.tumblr a:hover {
	background-color: #3a5976;
}
.social-icons li.twitter a {
	background: url(icons/twitter.png) no-repeat 0 0;
}
.social-icons li.twitter a:hover {
	background-color: #48c4d2;
}
.social-icons li.vimeo a {
	background: url(icons/vimeo.png) no-repeat 0 0;
}
.social-icons li.vimeo a:hover {
	background-color: #62a0ad;
}
.social-icons li.wordpress a {
	background: url(icons/wordpress.png) no-repeat 0 0;
}
.social-icons li.wordpress a:hover {
	background-color: #464646;
}
.social-icons li.yelp a {
	background: url(icons/yelp.png) no-repeat 0 0;
}
.social-icons li.yelp a:hover {
	background-color: #c41200;
}
.social-icons li.youtube a {
	background: url(icons/youtube.png) no-repeat 0 0;
}
.social-icons li.youtube a:hover {
	background-color: #f45750;
}
