
/* Sortable ******************/
#sortable { 
    list-style: none; 
    text-align: left; 
}
#sortable li { 
    margin: 0 0 10px 0;
    height: 35px; 
    background: #dbd9d9;
    border: 1px solid #999999;
    border-radius: 5px;
    color: #333333;
}
#sortable li span {
    background-color: #3c8dbc;
    background-image: url('../../js/sort/images/drag.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 33px; 
    display: inline-block;
    float: left;
    cursor: move;
}
#sortable li img {
    height: 65px;
    border: 5px solid #cccccc;
    display: inline-block;
    float: left;
}
#sortable li div {

}
#sortable li h2 {    
font-size: 16px;
line-height: 31px;
margin: auto 12px;
color: #3c8dbc;
font-weight: bold;
display: inline-block;
}


