#w {
	display: block;
	max-width: 830px;
	min-width: 300px;
	margin: 0 auto;
	padding: 2px 3px;
}
.c-lastproject {
	padding-top: 10px;
}
.content-box, .content-box * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.crsl-items {
	display: block;
	padding: 5px;
}
.crsl-item {
	/*background: rgba(255, 255, 255, 0.5);*/
	padding: 5px;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.5);
	-moz-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.5);
	box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.5);
}
.crsl-item .thumbnail {
	display: block;
	position: relative;
	margin-bottom: 10px;
	cursor: pointer;
}
.crsl-item .thumbnail img {
	display: block; /* fix 1px image space http://stackoverflow.com/q/5804256/477958 */
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.crsl-item .thumbnail:hover img {
	opacity: 0.8;
}
.crsl-item h3 {
	font-family: 'Oswald', 'Trebuchet MS', Helvetica, sans-serif;
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 12px;
}
.crsl-item h3 a {
	text-decoration: none;
	color: #797a7a;
	font-weight: bold;
}
.crsl-item h3 a:hover {
	text-decoration: none;
	color: #0069b4;
	font-weight: bold;
}
.crsl-item .postdate {
	display: block;
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 6px;
	color: #fff;
	text-shadow: 1px 1px 0 rgba(0,0,0,0.4);
	font-size: 15px;
	font-weight: bold;
	background: #016ab5;
}
.crsl-item p {
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 5px;
}
.crsl-item p.readmore a {
	display: block;
	float: right;
	color: #707171;
	padding: 3px 5px;
	text-decoration: none;
	font-weight: bold;
	font-size: 13px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.crsl-item p.readmore a:hover {
	background: #016ab5;
	color: #fff;
	font-weight: bold;
	font-size: 13px;
}
/** posts slider nav **/
.slidernav {
	display: block;
	text-align: center;
	margin-bottom: 5px;
	margin-top: 5px;
}
.slidernav a {
	display: inline-block;
	padding: 0px 8px;
	margin-right: 0px;
	font-size: 12px;
	font-weight: bold;
	background: #707171;
	color: #fff;
	text-decoration: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 2px 2px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 2px 2px 0px rgba(0,0,0,0.1);
	box-shadow: 2px 2px 0px rgba(0,0,0,0.1);
}
.slidernav a:active {
	-webkit-box-shadow: 1px 1px 0 rgba(0,0,0,0.2);
	-moz-box-shadow: 1px 1px 0 rgba(0,0,0,0.2);
	box-shadow: 1px 1px 0 rgba(0,0,0,0.2);
}
.slidernav a:hover {
	font-size: 12px;
	font-weight: bold;
	background: #016ab5;
	color: #fff;
	text-decoration: none;
	-webkit-box-shadow: 1px 1px 0 rgba(0,0,0,0.2);
	-moz-box-shadow: 1px 1px 0 rgba(0,0,0,0.2);
	box-shadow: 1px 1px 0 rgba(0,0,0,0.2);
}
	
	
	/** media queries **/
	@media screen and (max-width: 660px) {
h1 {
	font-size: 2.4em;
	line-height: 1.2em;
}
.crsl-item h3 {
	font-size: 1.65em;
}
.bg-subscribe {
	background-image: none;
}
.title-subscribe {
	margin-top: 100px;
	text-align: left;
	color: #eee;
	font-size: 18px;
	font-weight: bold;
	text-shadow: 0px 0px 1px #707272;
	display: block;
	width: 100%;
	font-style: italic;
}
}
 @media screen and (max-width: 768px) {
.c-lastproject {
	clear: both;
}
.ch-grid {
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	margin: 15px auto 5px auto;
	width: 13%;
}
.bg-subscribe {
	background-image: none;
}
.title-subscribe {
	margin-top: 100px;
	text-align: left;
	color: #eee;
	font-size: 18px;
	font-weight: bold;
	text-shadow: 0px 0px 1px #707272;
	display: block;
	width: 100%;
	font-style: italic;
}
}
 @media screen and (max-width:992px) {
.c-lastproject {
	clear: both;
}
.ch-grid {
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	margin: 15px auto 5px auto;
	width: 13%;
}
.bg-subscribe {
	background-image: none;
}
.title-subscribe {
	margin-top: 100px;
	text-align: left;
	color: #eee;
	font-size: 18px;
	font-weight: bold;
	text-shadow: 0px 0px 1px #707272;
	display: block;
	width: 100%;
	font-style: italic;
}
}
 @media screen and (max-width:480px) {
.c-lastproject {
	clear: both;
}
.ch-grid {
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	margin: 15px auto 5px auto;
	width: 13%;
}
.bg-subscribe {
	background-image: none;
}
.title-subscribe {
	margin-top: 100px;
	text-align: left;
	color: #eee;
	font-size: 18px;
	font-style: italic;
	font-weight: bold;
	text-shadow: 0px 0px 1px #707272;
	display: block;
	width: 100%;
}
}
 @media screen and (max-width:320px) {
.c-lastproject {
	clear: both;
}
.ch-grid {
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	margin: 15px auto 5px auto;
	width: 13%;
}
}
